
/* global reset of all browser defaults */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

// ------------------------------------- blog -------------------------------------

.post{
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px black dotted;
}

.post-date{
	font-weight: bold;
	padding-top: 30px;
	padding-bottom: 30px;
}

// ------------------------------------- colours -------------------------------------

$background-color: #f9feff; /*#E4FCFE;*/
$header-bg-color: #f2f2f2;  /*#CFF5FE; */
$title-font-color: #b2b2b2; /*#62D1EB;*/
$link-color: #FF7800; /*#f48042;*/ /*#020eff;*/ /*#009ae8;*/
$link-hover-color: #ff9f4c; /*#01bbff;*/ /*#63caff;*/
$menu-sep-color: #c1c1c1;
$text-color: black;

// ------------------------------------- fonts -------------------------------------

$font-style: 'Helvetica'; /*Roboto', sans-serif;*/
$font-style-mono: 'Inconsolata';

$content-font-size: 16px;
$content-line-height: $content-font-size * 1.5;

$title-size: 4.69rem; 
$title-size-small: 10.7vw;
$title-line-height: $title-size * 1;
$title-line-height-small: $title-size-small * 1;

$footer-size: 0.8rem;
$footer-size-small: 2.5vw;

// ------------------------------------- width of the content area -------------------------------------

$content-width:    700px;
$on-palm:          600px !default;
$on-laptop:        700px !default;
$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;
$spacing-unit-small: 15vw;
$spacing-unit: 50px;

// ------------------------------------- main layout -------------------------------------

html {
  height: 100%;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center; 
	background: $background-color; 
	font-family: $font-style;
}

.content-wrapper {
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit-small}));
	max-width:         calc(#{$content-width} - (#{$spacing-unit-small}));
	margin: 40px auto;
	padding: 0 $spacing-unit-small / 2;
	align-items: center;
	flex: 1 0 auto;
	justify-content: flex-start;
	color: $text-color;
	font-family: $font-style-mono;
	font-size: $content-font-size;
	line-height: $content-line-height;
	-webkit-font-smoothing: antialiased;

	@media screen and (min-width: $on-large) {
		max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
		max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
	}
}

.header {
	width: 100%;
	padding-top: 30px;
	padding-bottom: 10px;
	margin: 0 auto;
	background-color: $header-bg-color;
	text-align: center;
}

.site-title {
/*	outline: 1px solid red;
*/	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit-small}));
	max-width:         calc(#{$content-width} - (#{$spacing-unit-small}));
	margin: 0 auto;
	padding: 0 $spacing-unit-small / 2;
	font-family: $font-style;
	font-size: $title-size-small;
	background-color: $header-bg-color;
	color: $title-font-color;  /*#a5d6ef ; *//*$font-color-header; */

	@media screen and (min-width: $on-large) {
		max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
		max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
		font-size: $title-size;
	}
}

.site-title:first-letter { margin-left: -0.13em; }

.site-title a, a:visited, a:hover{
	text-decoration: none;
	color: black;
	margin: 0;
	padding: 0;
}


// ------------------------------------- general styles -------------------------------------


h1 {
	color: black;
	font-size: 1.5rem;
	font-family: $font-style-mono;
	line-height: 1.5rem;
	font-weight: 600;
	margin-top: 40px;
}

h2 {
	color: black;
	font-family: $font-style-mono;
	margin: 30px 0;
}

h3 {
	color: black;
	font-family: $font-style-mono;
	font-style: italic;
	font-weight: 100;
}

a,
a:visited {
	color: $link-color;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: none;
}


// ------------------------------------- homepage styles -------------------------------------


h1.category, h1.category a{
	color: $title-font-color; /*#a5d6ef;*/
	font-size: 2rem;
	font-family: $font-style;
	line-height: 2rem;
	margin: 40px 0;
}

h1.project, h1.proj-cat {
	a {color: $link-color;}
	font-size: $content-font-size;
	font-family: $font-style-mono;
	line-height: $content-line-height;
	font-weight: 100;
	
	a:hover {
		text-decoration: none;
		color: $link-hover-color;
	}
}

h1.project {
	margin: 0;
	margin-top: 0px;
}

h1.proj-cat {
/*	outline: 1px solid red;
*/	color: $text-color;
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 0px;
}


h1.place {
/*	outline: 1px solid red;
*/	color: $text-color;
	font-size: $content-font-size;
	font-family: $font-style-mono;
	font-weight: 100;
	line-height: $content-line-height;
	margin: 0;
	margin-bottom: 40px;
}

h1.caption {
	margin: 0;
	font-size: $content-font-size;
	line-height: $content-line-height;
	font-style: italic;
	font-weight: 100;
}


// ------------------------------------- project page styles -------------------------------------


.project-content{
	font-size: $content-font-size;
}

.project-content img{
	width: 100%;
}

.project-content p{
	margin: 30px 0;
}

.project-content blockquote{
/*	outline: 1px solid red;
*/	font-family: $font-style-mono;
	font-style: italic;
	margin: 0 8vw;

	@media screen and (min-width: $on-large) {
		margin: 0 45px;
	}
}

.project-content iframe{
	width: 100%;
	height: 50vw;

	@media screen and (min-width: $on-large) {
		width:100%;
		height: 350px;
	}
}

.project-content li{
/*	outline: 1px solid red;
*/	margin: 10px 45px;
}

h1.project-title{
	color: black;
	font-size: 7vw;
	font-family: $font-style-mono;
	line-height: 7vw;
	font-weight: 600;
	margin: 0;

	@media screen and (min-width: $on-large) {
		font-size: 2rem;
		line-height: 2rem;
		margin: 0;
	}
}

h1.project-place{
	color: black;
	font-size: 5vw;
	font-family: $font-style-mono;
	line-height: 6vw;
	font-weight: 100;
	margin-top: 10px;

	@media screen and (min-width: $on-large) {
		font-size: 1rem;
		line-height: 1.2rem;
	}

}

.project-header{
	margin-bottom: 40px;
}


// ------------------------------------- footer styles -------------------------------------


.footer {
/*	outline: 1px solid red;	
*/	
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit-small}));
	max-width:         calc(#{$content-width} - (#{$spacing-unit-small}));
	padding: 0 $spacing-unit-small / 2;
	margin: 0 auto;
	flex-shrink: 0;
	text-align: center;
	font-family: $font-style;
	font-size: $footer-size-small;
	line-height: $footer-size-small * 1.5;

	@media screen and (min-width: $on-large) {
		max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
		max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    	font-size: $footer-size;
    	line-height: $footer-size * 1.5;
    	padding: 0 $spacing-unit/2;
    	margin: 0 auto;
  	}
}

.footer-content {
	margin: 20px 0;
	/*outline: 1px solid red;*/
}

