
/* global reset of all browser defaults */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}


$font-color-light: black; /*#7a7a7a;*/

// colours

$font-color-header: #020eff ; /*#009ae8;*/
$link-color: #f48042; /*#020eff;*/ /*#009ae8;*/
$link-hover-color: #f48042; /*#01bbff;*/ /*#63caff;*/
$menu-sep-color: #c1c1c1;

// fonts 

$font-style: 'Helvetica'; /*Roboto', sans-serif;*/
$font-style-mono: 'Inconsolata';


//

$font-color: black; /*#262626;*/
/*$link-color: #black;
$link-hover-color: #009ae8;
$link-hover-color-2: #5ed1ff;*/
$menu-font-color: black;


$content-width-max: 720px;
$spacing-unit-small: 15vw;
$spacing-unit: 50px;

$title-size: 4.69rem; 
$title-size-small: 10.6vw;

$title-line-height: $title-size * 1;
$title-line-height-small: $title-size-small * 1;

$menu-font-size: 2rem;
$menu-font-size-small: 2.96vw;

$menu-side-padding: 14px;
$menu-side-padding-small: 2vw;

$menu-top-padding: 5px;
$menu-top-padding-small: 1vw;

$menu-top-margin: 5px;
$menu-top-margin-small: 1vw;

$menu-item-border: 6px;
$menu-item-border-small: 1.5vw;

$h1-font-size: 2rem;
$header-font-family: $font-style;

$post-title-size: 20px;
$post-title-size-small: 5vw;

$post-font-size: 15px;
$post-font-size-small: 4vw;

$footer-top-padding: 15px;
$footer-top-padding-small: 2vw;

$footer-size: 0.8rem;
$footer-size-small: 2.5vw;

$content-font-size: 16px;
$content-line-height: $content-font-size * 1.5;


$main: #19CCAA;


$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header:  #1D1425;
$pop-color: black;

// Width of the content area
$content-width:    700px;

$on-palm:          600px !default;
$on-laptop:        700px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;


@media (hover: none) {
    a:hover { color: none; }
}

/**,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}*/


html {
  height: 100%;
}

// Colors
$bg-color: white;
$dot-color: #3882E8;
$dot-color: #d3d3d3;

// Dimensions
$dot-size: 1px;
$dot-space: 5px;

body {
/*	height: 100%;
*/	margin: 0;
	padding: 0;
/*	background: #b2b2b2;
*/	background: #f9fdff; /*#f9f5ef;*/
	display: flex;
  flex-direction: column;
  justify-content: center;
	 min-height: 100vh;
	 font-family: $font-style;

/*	 background:
		linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
		linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
		$dot-color;
	background-size: $dot-space $dot-space;*/
}


.site-wrapper {
/*	background: white;
*/	
	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit-small}));
	max-width:         calc(#{$content-width} - (#{$spacing-unit-small}));
	margin-right: auto;
	margin-left: auto;
	padding: 0 $spacing-unit-small / 2;
/*	padding-top: $spacing-unit-small / 2; 
*/	justify-content: flex-start;
	align-items: center;
	/*color: $font-color;
	font-family: $font-style;
	font-size: 1.1rem;*/
	-webkit-font-smoothing: antialiased;

	flex: 1 0 auto;

	@media screen and (min-width: $on-large) {
		max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
		max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
/*		padding-top: $spacing-unit;
*/		/*padding-right: $spacing-unit;
		padding-left: $spacing-unit;*/
		margin-right: auto;
		margin-left: auto;
	}
}

.site-title {
	/*outline: 1px solid red; */	

	width: 100%;
	padding: 10px 0;
	padding-top: 30px;
	margin: 0 auto;
	font-family: $font-style;
	font-size: $title-size-small;
	background-color: #eaf8ff;
	/*	text-transform: uppercase;*/	
/*	vertical-align: center;
*/	/*line-height: 0;*/
/*	text-decoration: underline solid $link-color;
*/	color: #8bc8e8;  /*#a5d6ef ; *//*$font-color-header; */
	text-align: center;
	/*border-bottom: 1px solid $link-color;*/

	@media screen and (min-width: $on-large) {
		font-size: $title-size;
		/*line-height: 0;*/
	}
}

.site-title:first-letter { margin-left: -0.05em; }

.site-title a, a:visited, a:hover{
	text-decoration: none;
	color: black;
	margin: 0;
	padding: 0;
}

.menu {
/*	outline: 1px solid red; 
*/
	width: 100%;
	margin-top: $menu-top-margin-small;
	margin-left: auto;
	margin-right: auto;
/*	padding-left: 0.5vw;
*/	color: $menu-sep-color;
	line-height: $menu-font-size-small * 2;
	text-transform: lowercase;
	font-family: $font-style;
	font-weight: bold;
	font-size: $menu-font-size-small;

	-ms-box-orient: horizontal;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -moz-flex;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-webkit-justify-content: space-between; 
	justify-content: space-between;

  @media screen and (min-width: $on-large) {
    font-size: $menu-font-size;
    line-height: $menu-font-size * 2;
	margin-top: $menu-top-margin;
/*	padding-left: 5px;
*/  }

}


.menu-item-wrapper {
/*	outline: 1px solid red; 
*/
    margin: 0 $menu-side-padding-small;

	@media screen and (min-width: $on-large) {
		margin: 0 $menu-side-padding;
  	}
}

.first-menu{
	margin-left:0;
}
.last-menu{
	margin-right:0;
}


.menu-item {
	color: $font-color-header;
    text-align: left;
}

.menu-item:hover {
    color: $link-hover-color;

    @media (hover: none) {
    a:hover { color: none; }
}
}


/*
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}*/

.content {
/*	outline: 1px solid red; 
*/	/*padding: 0;
	margin: 0;
	padding-top: 40px;
	padding-bottom: 40px;*/
	margin: 40px 0;
	padding:0;
	color: $font-color-light;
	font-family: $font-style-mono;
	font-size: $content-font-size;
	line-height: $content-line-height
}

$content-spacing: 30px;

h1 {
	color: black;
	font-size: 1.5rem;
	font-family: $font-style-mono;
	line-height: 0rem;
	font-weight: 600;
	font-style: bold;
	margin-top: 60px;
	/*a, a:visited {
		text-decoration: none;
		color: $main;
	}*/
}

h2 {
	color: black;
/*	font-size: 1.2rem;
*/	font-family: $font-style-mono;
	line-height: 1.2rem;
	margin: 30px 0;
	/*a, a:visited {
		text-decoration: none;
		color: $main;
	}*/
}

h3 {
	color: black;
	font-family: $font-style-mono;
	line-height: 1.2rem;
	font-style: italic;
	font-weight: 100;
}

h1.category, h1.category a{
	color: #8bc8e8; /*#a5d6ef;*/
	font-size: 2rem;
	font-family: $header-font-family;
	line-height: 2rem;
	margin: 40px 0;
}

h1.project, h1.proj-cat {
	a {color: $link-color;}
	font-size: $content-font-size;
	font-family: $font-style-mono;
	line-height: $content-line-height;
	font-weight: 100;
	
	a:hover {
		text-decoration: none;
		color: $link-hover-color;
	}
}

h1.project {
	margin: 0;
	margin-top: 0px;
}

h1.proj-cat {
/*	outline: 1px solid red;
*/	color: $font-color-light;
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 0px;
}


h1.place {
/*	outline: 1px solid red;
*/	color: $font-color-light;
	font-size: $content-font-size;
	font-family: $font-style-mono;
	font-weight: 100;
	line-height: $content-line-height;
	margin: 0;
	margin-bottom: 40px;
}

h1.caption {
	margin: 0;
	font-size: $content-font-size;
	line-height: $content-line-height;
	font-style: italic;
	font-weight: 100;
}

/*h2 {
	font-size: 2em;
}*/

a,
a:visited {
	color: $link-color;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: none;
}

.about {}

// ---------- Project pages

.project-content{
	font-size: $content-font-size;
}

.project-content img{
	width: 100%;
/*	margin: 30px 0;
*/}

.project-content p{
	margin: 30px 0;
}

.project-content blockquote{
/*	outline: 1px solid red;
*/	font-family: $font-style-mono;
	font-style: italic;
	margin: 0 8vw;

	@media screen and (min-width: $on-large) {
		margin: 0 45px;
	}
}

iframe{
	width: 100%;
	height: 50vw;

	@media screen and (min-width: $on-large) {
		width:100%;
		height: 350px;
	}
}

/*.project-content blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:black;
  font-size:4em;
  position: absolute;
  left: 20px;
  top:10px;
}*/

/*.project-content ol{
	margin: 0 ;
	outline: 1px solid red;
	}*/

.project-content li{
/*	outline: 1px solid red;
*/	margin: 10px 45px;
}

h1.project-title{
	color: black;
	font-size: 7vw;
	font-family: $font-style-mono;
	line-height: 7vw;
	font-weight: 600;
	margin: 0;

	@media screen and (min-width: $on-large) {
		font-size: 2rem;
		line-height: 2rem;
		margin: 0;
	}
}

h1.project-place{
	color: black;
	font-size: 5vw;
	font-family: $font-style-mono;
	line-height: 6vw;
	font-weight: 100;
	margin-top: 10px;
/*	margin-bottom: -20px;
*/
	@media screen and (min-width: $on-large) {
		font-size: 1rem;
		line-height: 1.2rem;
	}

}

.project-header{
	margin: 40px 0;
}

// ---------- 

/*p {	
	font-size: $content-font-size;
	line-height: $content-line-height
}*/



//

.post-title{
	font-size: $post-title-size-small;
	padding-bottom: 30px;
	font-weight: 600;
	color: black;
	font-family: $font-style;

	@media screen and (min-width: $on-large) {
		padding-bottom: 20px;
    	font-size: $post-title-size;
    	line-height: $post-title-size * 1.5;
  	}
}

.post-date {
	padding-bottom: 10px;
	font-size: 10px;
/*	font-style: italic;
*/	font-family: $font-style;
	color: #808080;

	@media screen and (min-width: $on-large) {
		padding-bottom: 0px;
    	font-size: 10px;
    	line-height: 15px * 1.5;
  	}
}

.post-content {
	font-size: $post-font-size-small;
	line-height: $post-font-size-small * 1.5;
	font-family: $font-style;
	height: 100%;

	@media screen and (min-width: $on-large) {
    	font-size: $post-font-size;
    	line-height: $post-font-size * 1.5;
  	}
}

.footer {
/*	outline: 1px solid red;	
*/	text-align: center;
  	flex-shrink: 0;
	font-family: $font-style;
	font-size: $footer-size-small;
	/*border-top: $menu-item-border-small solid $pop-color;*/

	max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit-small}));
	max-width:         calc(#{$content-width} - (#{$spacing-unit-small}));
	/*margin-right: $spacing-unit / 2;
	margin-left: $spacing-unit / 2;*/
	/*padding: $footer-top-padding-small 0;*/
	padding: 0 $spacing-unit-small / 2;
	@media screen and (min-width: $on-large) {
		width: $content-width;
		max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
		max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
/*		border-bottom: $menu-item-border solid $pop-color;
*/    	font-size: $footer-size;
    	line-height: $footer-size * 1.5;
    	/*padding: $footer-top-padding $spacing-unit / 2;*/
    	padding: 0 $spacing-unit/2;
    	margin: 0 auto;
    	/*margin-right: $spacing-unit / 2;
		margin-left: $spacing-unit / 2;*/
  	}
}

.footer-content {
	margin: 20px 0;
	/*outline: 1px solid red;*/
}
